@import url('https://fonts.googleapis.com/css2?family=Duru+Sans&display=swap');
* {
    box-sizing: border-box;
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Duru Sans', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}


/* Navbar */

.navbar {
    width: 100%;
    height: 230px;
    background: transparent;
    top: 0px;
    display: flex;
    align-items: center;
}

.navbar img {
    margin: 30px 60px 0 85px;
}

.last-line img {
    margin: 30px 200px 0 85px;
}

.burger-menu img {
    margin: 0px 200px 0 0;
}

.navbar-links {
    width: 100%;
}

.navbar-links ul {
    margin: 0 160px 0 105px;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: #45949f;
    display: block;
    font-size: 39px;
    font-weight: 400;
    line-height: 105px;
}

.nav-transparent {
    background-color: transparent;
}


/* Hero */

.hero {
    background-image: url("img/hero.png");
    width: 100%;
    background-repeat: no-repeat;
    z-index: 1;
}

.logo {
    display: flex;
    justify-content: center;
    width: 100%;
}

.hero-text {
    text-align: center;
    width: 100%;
    padding-bottom: 220px;
}

.hero-text h1 {
    font-weight: 400;
    font-size: 130px;
    padding: 80px 0 45px 0;
}

.hero-text h2 {
    font-weight: 400;
    font-size: 50px;
    color: #46a8b2;
    padding: 100px 0 45px 0;
}

.hero-text p {
    font-weight: 400;
    font-size: 30px;
    color: #46a8b2;
    padding: 0 333px 0 385px;
}

.hero-text>.button {
    margin-top: 40px;
    background-color: #fff;
    font-size: 33px;
    border: none;
    color: #000;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


/* Philosophy */

.philosophy {
    background-image: url("img/philosophy.png");
    width: 100%;
    z-index: -1;
    margin-top: -470px;
    background-repeat: no-repeat;
    position: relative;
}

.philosophy-title {
    display: flex;
    padding-top: 625px;
    justify-content: center;
}

.philosophy-title h1 {
    color: #3f505a;
    font-size: 89px;
    font-weight: 400;
    padding-left: 55px;
    padding-right: 35px;
    letter-spacing: 5px;
}

.underline {
    display: flex;
    justify-content: center;
}

.philosophy-text {
    display: flex;
    padding: 100px 211px 50px 220px;
    justify-content: space-between;
}

.text-left,
.text-right {
    width: 47%;
}

.text-left {
    text-align: right;
}

.philosophy-text p {
    color: #3f505a;
    font-weight: 600;
    font-size: 33px;
}

.read-more {
    display: flex;
    justify-content: flex-end;
    padding-right: 243px;
    padding-bottom: 970px
}

.read-more a {
    background-color: #3f505a;
    border: none;
    color: white;
    padding: 23px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 33px;
}


/* Offers */

.offers {
    background-image: url("img/posts.png");
    width: 100%;
    z-index: 0;
    margin-top: -440px;
    background-repeat: no-repeat;
}

.posts {
    display: flex;
    justify-content: space-between;
    padding: 300px 170px 365px 195px
}

.post {
    width: 380px;
}

.post h1 {
    font-weight: 400;
    font-size: 44px;
    color: #49c9d4;
    text-align: center;
    padding-bottom: 30px;
}

.post img {
    height: 830px;
}

.post p {
    font-weight: 400;
    font-size: 32px;
    color: #fff;
    text-align: left;
}

.buttons {
    padding-top: 50px;
    display: flex;
}

.buttons img {
    width: auto;
    height: auto;
    padding-right: 33px;
}

.buttons a {
    background-color: #49c9d4;
    border: none;
    color: #3f505a;
    padding: 20px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 33px;
    border-radius: 12px;
}

.post-center {
    padding-top: 115px;
}

.post-left {
    padding-top: 295px;
}


/* Yoga beginners */

.yoga-beginners {
    padding-top: 35px;
    justify-content: center;
    padding-bottom: 215px;
}

.yoga-beginners .title {
    border: 8px solid #77838A;
    border-radius: 15px;
    height: 135px;
    width: 1030px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 108px;
}

.title h1 {
    color: #3f505a;
    font-weight: 400;
    font-size: 66px;
    padding: 25px 115px;
}

.yoga-begin {
    display: flex;
    justify-content: space-between;
    padding-left: 160px;
}

.yoga-begin .left,
.right {
    width: 45%;
}

.yoga-begin p {
    color: #3f505a;
    font-size: 36px;
    font-weight: 400;
    line-height: 55px;
    padding-top: 15px;
    padding-bottom: 120px;
}

.left-button {
    display: flex;
}

.left-button a {
    font-size: 39px;
    font-weight: 400;
    color: #49c9d4;
    text-decoration: none;
    padding-left: 33px;
}


/* Sign up */

.sign-up {
    background-image: url("img/sign-up.png");
    width: 100%;
    background-repeat: no-repeat;
    justify-content: space-between;
    position: relative;
}

.sign-content {
    display: flex;
    padding-bottom: 195px;
}

.sign-content>.left,
.right {
    width: 48%;
}

.sign-content>.left {
    margin-right: 60px;
}

.polygon img {
    position: absolute;
    top: 625px;
    left: 735px;
    width: auto !important;
    height: auto !important;
}

.sign-content img {
    width: 930px;
    height: 660px;
}

.sign-content>.right {
    width: 930px;
    height: 660px;
    background-color: #3f505a;
}

.sign-content>.right>p {
    font-size: 37px;
    font-weight: 400;
    line-height: 83px;
    padding: 125px 165px 145px 189px;
    text-align: center;
}

.right-column {
    display: flex;
    justify-content: flex-end;
    padding-right: 108px;
}

.right-column img {
    height: auto;
    width: auto;
    padding-right: 35px;
}

.register-content {
    padding-bottom: 190px;
}

.register-content .title {
    width: 500px;
    height: 195px;
    background-color: #3f505a;
    text-align: center;
    border-radius: 7px;
    padding: 55px 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.register-content>.title h2 {
    font-size: 116px;
    font-weight: 600;
    letter-spacing: 15px;
    line-height: 66px;
    color: #fff;
}

.register-content .sub-title {
    width: 800px;
    height: 100px;
    background-color: #fff;
    text-align: center;
    border-radius: 10px;
    display: block;
    margin: -35px auto 55px auto;
    padding: 15px 65px;
}

.sub-title h3 {
    color: #3f505a;
    font-size: 60px;
    font-weight: 400;
}

.register-text {
    display: flex;
    justify-content: center;
}

.register-text p {
    font-size: 50px;
    font-weight: 600;
    color: #3f505a;
    padding-left: 63px;
    padding-right: 48px;
}

.register-button {
    display: flex;
    justify-content: center;
    padding-top: 35px;
}

.register-button a {
    font-size: 44px;
    font-weight: 400;
    color: #fff;
    background-color: #3f505a;
    text-decoration: none;
    width: 375px;
    height: 85px;
    padding: 15px 42px;
}


/* Classes */

.classes {
    margin-top: 40px;
    padding: 0 165px;
    position: relative;
    z-index: 1;
}

.classes-content {
    display: flex;
    justify-content: space-between;
}

.class {
    width: 33%;
}

.class h1 {
    font-size: 46px;
    font-weight: 400;
    color: #3f505a;
}

.class img {
    margin-top: 25px;
    margin-bottom: 30px;
}

.class p {
    font-size: 30px;
    color: #3f505a;
    padding-right: 80px;
    padding-bottom: 20px;
}

.class-button {
    display: flex;
}

.class-button a {
    font-size: 25px;
    font-weight: 400;
    color: #fff;
    background-color: #49c9d4;
    text-decoration: none;
    width: 220px;
    height: 60px;
    padding: 15px 35px;
    margin-top: 15px;
    margin-left: 30px;
}


/* Methodology */

.methodology {
    height: 1100px;
    background-image: url("img/methodology.png");
    background-repeat: no-repeat;
    margin-top: 60px;
    z-index: 1;
}

.methodology-title {
    display: flex;
    justify-content: center;
    padding-top: 170px;
}

.methodology-title h1 {
    font-size: 65px;
    color: #49c9d4;
    line-height: 55px;
}

.methodology-line {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.methodology-text {
    display: flex;
    justify-content: space-between;
    padding: 65px 190px 65px 180px;
}

.methodology-text .left,
.right {
    width: 46%;
}

.methodology-text .left {
    text-align: right;
}

.methodology-text p {
    font-size: 25px;
    line-height: 44px;
}

.methodology-button {
    display: flex;
    justify-content: center;
    padding-bottom: 170px
}

.methodology-button a {
    font-size: 25px;
    font-weight: 400;
    color: #3f505a;
    background-color: #fff;
    text-decoration: none;
    width: 200px;
    height: 60px;
    padding: 15px 30px;
}


/*Inhale*/

.inhale {
    background-image: url("img/inhale.png");
    background-repeat: no-repeat;
    margin-top: -250px;
    z-index: -1;
    position: relative;
    padding-top: 250px;
}

.inhale h1 {
    font-size: 55px;
    color: #3f505a;
}

.inhale-text {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.inhale-text img {
    width: 40px;
    height: auto;
}

.exhale-text {
    display: flex;
    justify-content: center;
}

.exhale-text img {
    width: 40px;
    height: auto;
}

.inhale img {
    margin-right: 60px;
}

.inhale-title {
    text-align: center;
    margin-top: 60px;
}

.inhale h2 {
    font-size: 59px;
    color: #49c9d4;
}

.inhale-title img {
    margin-right: 0px;
    padding-bottom: 540px;
}


/* Footer */

.footer {
    background-image: url("img/footer.png");
    margin-top: -272px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 335px 215px 115px 165px;
}

.footer-left,
.footer-center,
.footer-right {
    max-width: 415px;
}

.footer-title {
    display: flex;
    padding-bottom: 30px;
}

.footer img {
    padding-right: 90px;
}

.footer h1 {
    font-size: 39px;
    font-weight: 400;
    color: #3f505a;
}

.footer p {
    font-size: 28px;
    font-weight: 400;
    color: #fff;
}

.footer-social {
    display: flex;
    padding-left: 115px;
}

.footer-social img {
    width: 67px;
    height: auto;
    padding-right: 25px;
}

.footer-seperate {
    padding-top: 70px;
}

.footer-seperate img {
    padding-right: 0px;
}